.formulariosweb {
}

$primary-color: #1b1f49;
$text-white: white;

.card-header-primary {
	background-color: $primary-color;
	color: $text-white;
}

.btn-send-form {
	background-color: $primary-color;
	color: $text-white;

	&:hover {
		background-color: darken($primary-color, 10%);
		color: $text-white;
	}
}